.row {
  border: 1px solid red;
  margin: 5px;
}

.col {
  background-color: grey;
}

.img-height {
  max-height: 300px;
  min-height: 100%;
}

.js-id {
  color: yellow;
}

#js-hangman-word {
  letter-spacing: 15px;
  font-family: monospace;
}