@import url('https://fonts.googleapis.com/css?family=Cousine');

body {
  font-family: 'Cousine', monospace;
  background: url('../images/keyboard.jpg');
  color: #fefefe;
}

#js-hangman-word {
  letter-spacing: 10px;
  font-family: monospace;
}

h1 {
  font-size: 5rem;
}

.min-height {
  height: 50px;
}

.col-border {
  border: 2px solid #fefefe;
  border-radius: 10px;
}

.page-bg {
  background-color: rgba(30,30,30,.8);
  padding: 1rem 0;
  border: 3px solid #222;
  border-radius: 20px;
}

.spacer {
  height: 100px;
}